.login-page{
    background: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.login-form{
    background-color: #fff;
    padding: 20px;
    color:#000;
    width: 400px;
    border-radius: 30px;
}